@import "tailwindcss";

@theme {
  --color-brand-cyan: #0284c7;
  --color-brand-gold: #f59e0b;
  --color-brand-emerald: #10b981;
  --color-brand-navy: #0f172a;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
